<div class="d-flex justify-content-center">
  <h1>Create a new listing</h1>
</div>

<div class="new-guitar-container">
  <div class= "container">
      <%= simple_form_for (@listing) do |f| %>
      <div class="listing-row">
        <%= f.input :name, label: false, placeholder: "name" %>
        <%= f.input :category, label: false, placeholder: "category" %>
        <%= f.input :price, label: false, placeholder: "price" %>
      </div>
      <div class="listing-row">
        <%= f.input :location, label: false, placeholder: "location" %>
        <%= f.input :description, label: false, placeholder: "Add a description of your guitar!" %>
      </div>
      <div class="listing-row">
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit %>
      </div>
      <% end %>

</div>
