<h1>Show your listing</h1>
 <div >
      <h5><%= @listing.name %></h5>
      <h5>category : <%= @listing.category %></h5>
      <p><%= @listing.description %></p>
 </div>

<%= link_to "Book now", new_booking_path, class: "btn btn-gradient" %>

 <%= link_to "Return to guitars", listings_path %>
