
<div class="text-center">
  <h1>New Booking</h1>
</div>

<%# AT: used to make flash messages work %>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="column d-flex justify-content-center">
  <div class="card" style="width: 90%; padding: 0 10px; display: block; margin-bottom: 20px; border: 2px solid black;">
    <div class="container bg-white">
      <div class="listing-details mb-3 text-center">
        <p class="fs-2"><strong><%= @listing.name %></strong><p>
        <p>Price per day: $<%= @listing.price %></p>
        <p>Rent from: <%= @listing.user.first_name %></p>
        <p>Postcode: <%= @listing.location %><p>
      </div>

    <%# Al's third try on Thu 20/04 %>
    <div class="container-flatpickr px-0">
      <%= simple_form_for @booking, data: { controller: 'flatpickr' } do |f| %>
        <%= f.input :rent_start, as: :string, input_html: { data: { flatpickr_target: "rentStart" } } %>
        <%= f.input :rent_end, as: :string, input_html: { data: { flatpickr_target: "rentEnd" } }  %>
        <%= f.input :listing_id, as: :hidden, input_html: { value: @listing.id } %>
        <%= f.button :submit, class: "btn btn-secondary"  %>
      <% end %>
    </div>

    <br>
      <div class="payment-details mb-5">
        <h2>Payment details:</h2>
        <p>Enter your bank details so we can take everything...</p>
      </div>


      <div class="container pb-3">
        <div class="d-flex justify-content-around">
          <%# <%= link_to "Send booking request", '#', class: "btn btn-primary" %>
          <%= link_to "Back to listing", :back, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
